body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #191919;
    background-image: url(bgimg.png);
    background-size: cover;
    background-repeat: repeat;
    animation: diagonalScroll 10s linear infinite;
}

.container {
    display: flex;
    align-items: center;
    gap: 70px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.name {
    font-family: Manrope, serif;
    font-weight: 800;
    font-size: 40px;
    color: #ffffff;     
}

.about {
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 20px;
    color: #8C8C8C;
    word-wrap: normal;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center ;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.gmail {
    border: none;
    transition: all 0.3s ease;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    opacity: 100%;
    background-color: #ffffff;
    animation: float 3s ease-in-out infinite;
}

.reddit {
    border: none;
    transition: all 0.3s ease;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background-color: #FF5700;
    animation: float 3s ease-in-out infinite;
}

.github {
    border: none;
    transition: all 0.3s ease;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background-color: #0d1117;
    animation: float 3s ease-in-out infinite;
}

.discord {
    border: none;
    transition: all 0.3s ease;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background-color: #7B83EB;
    animation: float 3s ease-in-out infinite;
}

.figma {
    border: none;
    transition: all 0.3s ease;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    animation: float 3s ease-in-out infinite;
}

img {
    width: 150px;
    height: 150px;
}

.gmail:hover {
    scale: 1.1;
}

.reddit:hover {
    scale: 1.1;
}

.github:hover {
    scale: 1.1;
}

.discord:hover {
    scale: 1.1;
}

.figma:hover {
    scale: 1.1;
}

@keyframes diagonalScroll {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
}

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}