/* General Styles */
body {
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0;
    background: url('bgimg.png') no-repeat center center;
    background-size: cover;
    color: #000;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .profile {
    margin-top: 50px;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #000;
  }
  
  .name {
    font-size: 2rem;
    margin: 20px 0 10px;
  }
  
  .description {
    font-size: 1rem;
    font-weight: medium;
  }
  
  /* Social Buttons */
  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .social-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding: 10px 15px;
    padding-right: 5px;
    border-radius: 5px;
    border: 3px solid #000;
    text-decoration: none;
    font-size: 1.3rem;
    color: #000000;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .social-button img {
    width: 40px;
    height: 20px;
    transition: all 1.3s ease;
  }

  .social-button:hover {
    width: 320px;
  }

  .social-button:active {
    width: 300px;
  }

  /* Individual Button Colors */
  .gmail {
    background-color: #FBBC04;
  }
  
  .discord {
    background-color: #7B83EB;
  }
  
  .reddit {
    background-color: #FF5700;
  }
  
  .figma {
    background-color: #0ACF83;
  }
  
  .github {
    background-color: #C1C1C1;
  }
  